[user]
	name = Kimmo Koskinen
	email = kimmo.koskinen@metosin.fi
[alias]
	st = status
	co = checkout
	df = diff --color-words
	wshow = show --color-words
	cp = cherry-pick
	spp = !git stash && git pull && git stash pop
  rbc = rebase --continue
[core]
	editor = emacsclient
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
[push]
	default = simple
[credential]
	helper = osxkeychain
[branch]
	autosetuprebase = always
[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[init]
  defaultBranch = main
[diff]
  tool = difftastic
  colorMoved = default
[diff "clojure"]
	xfuncname = (^\\(.*|\\s*\\(defn.*)
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
