[user]
	name = Kimmo Koskinen
	email = kimmo.koskinen@solita.fi
[alias]
	st = status
	co = checkout
	df = diff --color-words
	wshow = show --color-words
	cp = cherry-pick
	spp = !git stash && git pull && git stash pop
    rbc = rebase --continue
[core]
	editor = emacsclient
	excludesfile = /Users/kimmoko/.gitignore_global
[push]
	default = simple
[credential]
	helper = osxkeychain
[branch]
	autosetuprebase = always
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/kimmoko/.stCommitMsg
